@mixin header-style {
  margin-left: $inner-content-margin;
  padding-left: 10px;
  color: $header-color;
  font-size: 2.25em;
  text-transform: uppercase;
}

@mixin mobile-header-style {
  margin-left: 0;
  padding-left: 0;
  /* margin-top: 40px; */
  color: $header-color;
  font-size: 3em;
  text-transform: uppercase;
}
@mixin mobile-all-block-basis {
  flex-basis: 616px;
}

@mixin mobile-text-style {
  margin-left: 0;
  padding: 0;
  min-width: 0;
  font-size: 1.625em;
  color: $text-color;
}

@mixin mobile-button-wrapper-style {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin mobile-button-style {
  /* min-width: 256px; */
  height: 90px;
  border-radius: 45px;
  text-transform: uppercase;
  font-size:1.5em;
  padding: 0;
}

@mixin button-style {
  min-width: 256px;
  height: 48px;
  border-radius: 24px;
  text-transform: uppercase;
  font-size:0.9em;
  padding: 16px 20px;
}

@mixin text-style {
  margin-left: $inner-content-margin;
  padding: 0 10px 10px 10px;
  width: 39vw;
  min-width: 540px;
  color: $text-color;
}

@mixin small-reference-style {
  padding: 0 1px;
  color: $reference-color;
  font-size: 1.125em;
  text-decoration: none;
  border-bottom: 2px solid $reference-color;
}

@mixin big-numbers-style {
  display: block;
  margin-bottom: -83px;
  margin-left: -43px;
  font-weight: bold;
  font-size: 8em;
  color: $big-numbers-color;
}

@mixin list-reference-style {
  padding: 0 1px;
  height: 25px;
  color: $reference-color;
  font-size: 1.5em;
  text-decoration: none;
  border-bottom: 2px solid $reference-color;
}

@mixin full-list-style {
  margin-left: calc(#{$inner-content-margin} + 26px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__item {
    &__reference {
      @include list-reference-style;
      margin-left: -1px;
    }
    &__desc {
      margin-top: 1vw;
      margin-left: 27px;
      color: $text-color;
    }
  }
  &__item::before {
    content:"\A";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $dot-list-color;
    display: inline-block;
    margin: 3px 30px 3px -15px;
  }
}

@mixin button-wrapper-style {
  margin-left: $inner-content-margin;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@mixin section-inner-style($section,  $parts...) {
  @each $i in $parts {
    .#{$section}__#{nth($i, 1)} {
        margin-left: 10vw;
    }
  }
}
