@mixin header-style {
  margin-left: $inner-content-margin;
  padding-left: 10px;
  color: $header-color;
  font-size: 2.25em;
  text-transform: uppercase;
}
@mixin mobile-section-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@mixin mobile-header-style {
  margin-left: 0;
  padding-left: 0;
  color: $header-color;
  font-size: 3em;
  text-transform: uppercase;
}
@mixin mobile-all-block-basis {
  -ms-flex-preferred-size: 82.13vw;
  flex-basis: 82.13vw;
}
@mixin mobile-text-style {
  margin-left: 0;
  padding: 0;
  min-width: 0;
  font-size: 1.625em;
  color: $text-color;
}
@mixin mobile-button-wrapper-style {
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@mixin mobile-button-style {
  height: 90px;
  border-radius: 45px;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 0 10px;
}
@mixin mobile-big-numbers-style {
  display: block;
  margin-bottom: -83px;
  margin-left: 0;
  font-weight: bold;
  font-size: 8em;
  color: $big-numbers-color;
}
@mixin mobile-small-reference-style {
  padding: 0 1px;
  color: $reference-color;
  font-size: 1.625em;
  text-decoration: none;
  border-bottom: 2px solid $reference-color;
}
@mixin mobile-list-reference-style {
  padding: 0 1px;
  color: $reference-color;
  font-size: 1.875em;
  text-decoration: none;
  border-bottom: 2px solid $reference-color;
}
@mixin mobile-full-list-style {
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 37px;

  &__item {
    padding-right: 8vw;

    &__reference {
      @include mobile-list-reference-style;
      margin-left: 22px;
      @include a-hover-active-style;
      
      .mobile {
        display: block;
      }
    }

    &__desc {
      margin-top: 4.8vw;
      margin-left: 0;
      color: $text-color;
      font-size: 1.5em;

      .mobile {
        display: block;
      }
    }
  }

  &__item::before {
    content: "\A";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: $dot-list-color;
    display: inline-block;
    margin: 0 0 5px -37px;
  }
}
@mixin button-style {
  min-width: 256px;
  height: 48px;
  border-radius: 24px;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 16px 20px;
}
@mixin text-style {
  margin-left: $inner-content-margin;
  padding: 0 10px 10px;
  width: 39vw;
  min-width: 540px;
  color: $text-color;
}
@mixin small-reference-style {
  padding: 0 1px;
  color: $reference-color;
  font-size: 1.125em;
  text-decoration: none;
  border-bottom: 2px solid $reference-color;
}
@mixin big-numbers-style {
  display: block;
  margin-bottom: -83px;
  margin-left: -43px;
  font-weight: bold;
  font-size: 8em;
  color: $big-numbers-color;
}
@mixin list-reference-style {
  padding: 0 1px;
  height: 25px;
  color: $reference-color;
  font-size: 1.5em;
  text-decoration: none;
  border-bottom: 2px solid $reference-color;
}
@mixin full-list-style {
  margin-left: calc(#{$inner-content-margin} + 26px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  &__item {
    &__reference {
      @include list-reference-style;
      margin-left: -1px;
      @include a-hover-active-style;
      .mobile {
        display: none;
      }
    }

    &__desc {
      margin-top: 1vw;
      margin-left: 27px;
      color: $text-color;

      .mobile {
        display: none;
      }
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 3vw;
  }

  &__item::before {
    content: "\A";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $dot-list-color;
    display: inline-block;
    margin: 3px 30px 3px -15px;
  }
}
@mixin button-wrapper-style {
  margin-left: $inner-content-margin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@mixin a-hover-active-style {
  &:hover {
    color: lighten($reference-color, 20%);
    border-color: lighten($reference-color, 20%);
  }
  &:active {
    color: darken($reference-color, 20%);
    border-color: darken($reference-color, 20%);
  }
}
@mixin section-inner-style($section, $parts...) {
  @each $i in $parts {
    .#{$section}__#{nth($i, 1)} {
      margin-left: 10vw;
    }
  }
}
@mixin mobile-section-inner-style($section, $parts...) {
  @each $i in $parts {
    .#{$section}__#{nth($i, 1)} {
      padding: 0 12px;
    }
  }
}
@mixin mobile-small-reference-font-size($size) {
  body {
    .main-content {
      .easy-install {
        &__steps-wrapper {
          .registration {
            &__small-reference {
              &--registration {
                font-size: $size;
              }
            }
          }

          .html-setup {
            &__small-reference {
              &--setup {
                font-size: $size;
              }
            }
          }
        }
      }

      .other-channels {
        .channels-list {
          &__item {
            &__reference {
              font-size: $size;
            }
          }
        }
      }
    }
  }
}
@mixin mobile-header-font-size($size, $sections...) {
  @each $i in $sections {
    .#{$i} {
      &__header {
        font-size: $size;
      }
    }
  }
}
