$family: unquote("Ubuntu");
$header-color: #393e6b;
$text-color: #74757b;
$section-bckg-color: #eff4f4;
$button-green-color: #2cd3b8;
$reference-color: #0da088;
$big-numbers-color: #e9e9ed;
$dot-list-color: #3b4269;


$inner-content-margin: 0.191*100vw;


/* $inner-content-margin: calc(100% / $koeff); */
