@import 'reset','variables', 'mixins';
@import url("https://fonts.googleapis.com/css?family=#{$family}&amp;subset=cyrillic");

body {
  font-family: #{$family}, sans-serif;
  .main-content {
    display: flex;
    flex-direction: column;
    .webim-install {
      height: 23.2vw;
      min-height: 242px;
      display: flex;
      flex-direction: column;
      background: $section-bckg-color;
      /* justify-content: space-evenly; */
      &__header {
        margin-top: 4.7vw;
        @include header-style;
      }
      &__desc {
        margin-top: 2.4vw;
        @include text-style;
      }
      .button-wrapper {
        margin-left: $inner-content-margin;
        margin-top: 3.6vw;
        margin-bottom: 4vw;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .button--try-free {
          margin: 0 10px;
          color: #fff;
          background-color: $button-green-color;
          @include button-style;
        }
        .button--rate {
          margin: 0 10px;
          color: $header-color;
          border: 1px solid $header-color;
          @include button-style;
        }
      }
    }
    .easy-install {
      height: 27.56vw;
      display: flex;
      flex-direction: column;
      /* justify-content: space-evenly; */
      &__header {
        margin-top: 4.3vw;
        @include header-style;
      }
      &__desc {
        margin-top: 1.6vw;
        @include text-style;
      }
      &__steps-wrapper {
        margin-top: 1.9vw;
        margin-bottom: 5.2vw;
        margin-left: $inner-content-margin;
        display: flex;
        justify-content: flex-start;
        .registration {
          margin-right: 8.1vw;
          padding-left: 10px;
          width: 118px;
          &__small-reference {
            margin-top: 41px;
            &--registration {
              /* margin-top: 41px; */
              @include small-reference-style;
            }
          }
        }
        .registration:before {
          content: "1";
          @include big-numbers-style;
        }

        .html-setup {
          padding-left: 10px;
          width: 194px;
          &__small-reference {
            margin-top: 41px;
            &--setup {
              @include small-reference-style;
            }
          }
        }
        .html-setup:before {
          content: "2";
          @include big-numbers-style;
        }

      }


        /* img {
          width: 50px;
          height: 50px;
        } */
      /* } */
      /* &__steps-wrapper {
        display: flex;
      } */
    }

    .dashboard-install {
      background: $section-bckg-color;
      height: 46.25vw;
      display: flex;
      flex-direction: column;
      &__header {
        margin-top: 4.7vw;
        @include header-style;
      }
    }
    .html-install {
      background: $section-bckg-color;
      height: 46.25vw;
      display: flex;
      flex-direction: column;
      &__header {
        margin-top: 5vw;
        @include header-style;
      }
      .install-list {
        /* margin-top: 4.4vw; */
        margin-left: calc(#{$inner-content-margin} + 26px);
        margin-bottom: 5.1vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30.1vw;
        &__item {
          &__reference {
            @include list-reference-style;
          }
          &__desc {
            margin-top: 1vw;
            margin-left: 27px;
            color: $text-color;
          }
        }
        &__item::before {
          content:"\A";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: $dot-list-color;
          display: inline-block;
          margin: 3px 30px 3px -15px;
        }
      }
    }

  }
}

/* nav, h1, h2 {
  color: #393e6b;
} */


/* button {
  width: 256px;
  height: 48px;
  border-radius: 24px;
  border-width: 0;
  color: #fff;
  background-color: #2cd3b8;
  text-transform: uppercase;
} */



/* .main-content{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
} */

/* section {
  /* width: 60%; */
  /* width: calc(100vw - 2*328px);
} */

/* screen width: 100vw */
