* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

aside,
figure,
footer,
header,
nav,
section {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=cyrillic,cyrillic-ext");
}

body {
  font-family: 'Ubuntu', sans-serif;
}

body .header {
  height: 107px;
  -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.05) 50%, #eff4f4 100%) 0 0 100 0 repeat;
  border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), color-stop(50%, rgba(0, 0, 0, 0.05)), to(#eff4f4)) 0 0 100 0 repeat;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.05) 50%, #eff4f4 100%) 0 0 100 0 repeat;
  border-width: 0 0 7px 0;
  border-style: solid;
}

body .header .menu-wrapper {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #393e6b;
  font-size: 1.125em;
  text-transform: uppercase;
}

body .header .menu-wrapper .login-menu {
  padding-left: 4.1vw;
  width: 40.9vw;
  background: url("../images/header-bckg.jpg") right top no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .header .menu-wrapper .login-menu__item--login {
  margin-right: 1.7vw;
}

body .header .menu-wrapper .section-menu {
  padding-right: 4.1vw;
  width: 59.1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .header .menu-wrapper .section-menu__item {
  margin-right: 1.7vw;
}

body .header .menu-wrapper .section-menu__item .logo-wrapper {
  width: 114px;
}

body .header .menu-wrapper .section-menu__item .logo-wrapper .logo {
  width: 114px;
}

body .header .menu-wrapper .section-menu__item--logo {
  margin-left: 1.7vw;
  margin-right: 0;
}

body .header .menu-wrapper #mobile-menuToggle {
  display: none;
}

body .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body .main-content .webim-install {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #eff4f4;
}

body .main-content .webim-install__header {
  margin-top: calc(4.7vw - 7px);
  margin-left: 19.1vw;
  padding-left: 10px;
  color: #393e6b;
  font-size: 2.25em;
  text-transform: uppercase;
}

body .main-content .webim-install__desc {
  margin-top: 2.4vw;
  margin-left: 19.1vw;
  padding: 0 10px 10px 10px;
  width: 39vw;
  min-width: 540px;
  color: #74757b;
  padding-bottom: 0;
}

body .main-content .webim-install__desc .mobile {
  display: none;
}

body .main-content .webim-install__desc--second {
  margin-top: 0;
  padding-bottom: 10px;
}

body .main-content .webim-install__button-wrapper {
  margin-top: 3.6vw;
  margin-bottom: 2vw;
  margin-left: 19.1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

body .main-content .webim-install__button-wrapper .button--try-free {
  margin: 0 10px 2vw;
  color: #fff;
  background: #2cd3b8;
  min-width: 256px;
  height: 48px;
  border-radius: 24px;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 16px 20px;
}

body .main-content .webim-install__button-wrapper .button--rate {
  margin: 0 10px 2vw;
  color: #393e6b;
  border: 1px solid #393e6b;
  min-width: 256px;
  height: 48px;
  border-radius: 24px;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 16px 20px;
}

body .main-content .easy-install {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body .main-content .easy-install__header {
  margin-top: 4.3vw;
  margin-left: 19.1vw;
  padding-left: 10px;
  color: #393e6b;
  font-size: 2.25em;
  text-transform: uppercase;
}

body .main-content .easy-install__header .mobile {
  display: none;
}

body .main-content .easy-install__desc {
  margin-top: 1.6vw;
  margin-left: 19.1vw;
  padding: 0 10px 10px 10px;
  width: 39vw;
  min-width: 540px;
  color: #74757b;
}

body .main-content .easy-install__steps-wrapper {
  margin-top: 1.9vw;
  margin-bottom: 5.2vw;
  margin-left: 19.1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

body .main-content .easy-install__steps-wrapper .registration {
  margin-right: 8.1vw;
  padding-left: 10px;
  width: 118px;
}

body .main-content .easy-install__steps-wrapper .registration__small-reference {
  margin-top: 41px;
}

body .main-content .easy-install__steps-wrapper .registration__small-reference--registration {
  padding: 0 1px;
  color: #0da088;
  font-size: 1.125em;
  text-decoration: none;
  border-bottom: 2px solid #0da088;
}

body .main-content .easy-install__steps-wrapper .registration:before {
  content: "1";
  display: block;
  margin-bottom: -83px;
  margin-left: -43px;
  font-weight: bold;
  font-size: 8em;
  color: #e9e9ed;
}

body .main-content .easy-install__steps-wrapper .html-setup {
  padding-left: 10px;
  width: 194px;
}

body .main-content .easy-install__steps-wrapper .html-setup__small-reference {
  margin-top: 41px;
}

body .main-content .easy-install__steps-wrapper .html-setup__small-reference--setup {
  padding: 0 1px;
  color: #0da088;
  font-size: 1.125em;
  text-decoration: none;
  border-bottom: 2px solid #0da088;
}

body .main-content .easy-install__steps-wrapper .html-setup:before {
  content: "2";
  display: block;
  margin-bottom: -83px;
  margin-left: -43px;
  font-weight: bold;
  font-size: 8em;
  color: #e9e9ed;
}

body .main-content .html-install {
  min-width: 521px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background: #eff4f4;
}

body .main-content .html-install__header {
  margin-top: 5vw;
  margin-left: 19.1vw;
  padding-left: 10px;
  color: #393e6b;
  font-size: 2.25em;
  text-transform: uppercase;
}

body .main-content .html-install__header .mobile {
  display: none;
}

body .main-content .html-install .install-list {
  margin-top: 4.2vw;
  margin-bottom: 5.1vw;
  height: 30.1vw;
  margin-left: calc(19.1vw + 26px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body .main-content .html-install .install-list__item__reference {
  padding: 0 1px;
  height: 25px;
  color: #0da088;
  font-size: 1.5em;
  text-decoration: none;
  border-bottom: 2px solid #0da088;
  margin-left: -1px;
}

body .main-content .html-install .install-list__item__reference .mobile {
  display: none;
}

body .main-content .html-install .install-list__item__desc {
  margin-top: 1vw;
  margin-left: 27px;
  color: #74757b;
}

body .main-content .html-install .install-list__item__desc .mobile {
  display: none;
}

body .main-content .html-install .install-list__item::before {
  content: "\A";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3b4269;
  display: inline-block;
  margin: 3px 30px 3px -15px;
}

body .main-content .html-install .install-list .mobile {
  display: none;
}

body .main-content .dashboard-install {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body .main-content .dashboard-install__header {
  margin-top: 4.7vw;
  margin-left: 19.1vw;
  padding-left: 10px;
  color: #393e6b;
  font-size: 2.25em;
  text-transform: uppercase;
}

body .main-content .dashboard-install__desc {
  margin-top: 2.1vw;
  margin-left: 19.1vw;
  padding: 0 10px 10px 10px;
  width: 39vw;
  min-width: 540px;
  color: #74757b;
  width: 40vw;
}

body .main-content .dashboard-install .install-list {
  margin-top: 4.4vw;
  margin-bottom: 4.9vw;
  height: 33.1vw;
  margin-left: calc(19.1vw + 26px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body .main-content .dashboard-install .install-list__item__reference {
  padding: 0 1px;
  height: 25px;
  color: #0da088;
  font-size: 1.5em;
  text-decoration: none;
  border-bottom: 2px solid #0da088;
  margin-left: -1px;
}

body .main-content .dashboard-install .install-list__item__reference .mobile {
  display: none;
}

body .main-content .dashboard-install .install-list__item__desc {
  margin-top: 1vw;
  margin-left: 27px;
  color: #74757b;
}

body .main-content .dashboard-install .install-list__item__desc .mobile {
  display: none;
}

body .main-content .dashboard-install .install-list__item::before {
  content: "\A";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3b4269;
  display: inline-block;
  margin: 3px 30px 3px -15px;
}

body .main-content .after-install {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #eff4f4;
}

body .main-content .after-install__header {
  margin-top: 4.2vw;
  margin-left: 19.1vw;
  padding-left: 10px;
  color: #393e6b;
  font-size: 2.25em;
  text-transform: uppercase;
}

body .main-content .after-install__desc {
  margin-top: 1.6vw;
  margin-left: 19.1vw;
  padding: 0 10px 10px 10px;
  width: 39vw;
  min-width: 540px;
  color: #74757b;
  width: 50vw;
}

body .main-content .after-install__desc .mobile {
  display: none;
}

body .main-content .after-install .step-list {
  margin-top: 3.9vw;
  margin-left: 19.1vw;
  margin-bottom: 4.5vw;
  padding-left: 10px;
  height: 35.4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body .main-content .after-install .step-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .main-content .after-install .step-list__item__image-block {
  width: 74px;
  height: 74px;
  margin-right: 2.2vw;
  border-radius: 50%;
  background: #2cd3b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .main-content .after-install .step-list__item__image-block .icon-01 {
  width: 34px;
  height: 25px;
  margin: auto;
  fill: #fff;
}

body .main-content .after-install .step-list__item__image-block .icon-02 {
  width: 29px;
  height: 23px;
  margin: auto;
  fill: #fff;
}

body .main-content .after-install .step-list__item__image-block .icon-03 {
  width: 36px;
  height: 36px;
  margin: auto;
  fill: #fff;
}

body .main-content .after-install .step-list__item__image-block .icon-04 {
  width: 40px;
  height: 26px;
  margin: auto;
  fill: #fff;
}

body .main-content .after-install .step-list__item__image-block .icon-05 {
  width: 32px;
  height: 37px;
  margin: auto;
  fill: #fff;
}

body .main-content .after-install .step-list__item__image-block .icon-06 {
  width: 32px;
  height: 29px;
  margin: auto;
  fill: #fff;
}

body .main-content .after-install .step-list__item__header {
  margin-right: 10px;
  font-size: 1.5em;
  color: #393e6b;
}

body .main-content .after-install .step-list__item__desc {
  padding-top: 0.2em;
  font-size: 1.125em;
  color: #393e6b;
}

body .main-content .after-install .step-list__item__desc .mobile-step-header {
  display: none;
}

body .main-content .after-install__button-wrapper {
  margin-bottom: 2.2vw;
  margin-left: 19.1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

body .main-content .after-install__button-wrapper .button--all-features {
  margin: 0 10px 2vw;
  color: #fff;
  background: #2cd3b8;
  min-width: 256px;
  height: 48px;
  border-radius: 24px;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 16px 20px;
}

body .main-content .after-install__button-wrapper .button--test-free {
  margin: 0 10px 2vw;
  color: #fff;
  background: #393e6b;
  min-width: 256px;
  height: 48px;
  border-radius: 24px;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 16px 20px;
}

body .main-content .other-channels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

body .main-content .other-channels__desc {
  margin-left: 19.1vw;
  padding: 0 10px 10px 10px;
  width: 39vw;
  min-width: 540px;
  color: #74757b;
  margin-top: 4vw;
  margin-bottom: 4.5vw;
  width: 40vw;
  color: #393e6b;
  font-size: 1.125em;
}

body .main-content .other-channels .channels-list {
  height: 210px;
  margin: 0 calc(19.1vw + 10px) 4.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

body .main-content .other-channels .channels-list__item {
  margin-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 290px;
  flex-basis: 290px;
}

body .main-content .other-channels .channels-list__item__image-block {
  width: 40px;
  height: 40px;
}

body .main-content .other-channels .channels-list__item__image-block .icon {
  width: 40px;
  height: 40px;
}

body .main-content .other-channels .channels-list__item__image-block .icon--social-networks .st0 {
  fill: #3B4269;
}

body .main-content .other-channels .channels-list__item__image-block .icon--messengers .st0 {
  -webkit-clip-path: url("#SVGID_2_");
  clip-path: url("#SVGID_2_");
  fill: #3DD3A1;
}

body .main-content .other-channels .channels-list__item__image-block .icon--messengers .st1 {
  fill: #FFFFFF;
}

body .main-content .other-channels .channels-list__item__image-block .icon--chatbots .st0 {
  fill: #33AFD1;
}

body .main-content .other-channels .channels-list__item__image-block .icon--chatbots .st1 {
  fill: #FFFFFF;
}

body .main-content .other-channels .channels-list__item__image-block .icon--feedback .st0 {
  fill: #DAB81A;
}

body .main-content .other-channels .channels-list__item__image-block .icon--yandexd .st0 {
  fill: url("#Combined-Shape_1_");
}

body .main-content .other-channels .channels-list__item__image-block .icon--mobile-chat .st0 {
  -webkit-clip-path: url("#SVGID_2_");
  clip-path: url("#SVGID_2_");
  fill: #88BC17;
}

body .main-content .other-channels .channels-list__item__image-block .icon--mobile-chat .st1 {
  fill: #FFFFFF;
}

body .main-content .other-channels .channels-list__item__image-block .icon--email .st0 {
  fill: #5F98D1;
}

body .main-content .other-channels .channels-list__item__image-block .icon--email .st1 {
  fill: #FFFFFF;
}

body .main-content .other-channels .channels-list__item__reference {
  height: 21px;
  margin-left: calc(1.7vw - 1px);
  padding: 0 1px;
  color: #0da088;
  font-size: 1.125em;
  text-decoration: none;
  border-bottom: 2px solid #0da088;
}

body .main-content .other-channels .channels-list__item__reference--mobile-chat {
  border: 0;
}

body .main-content .other-channels .channels-list__item__reference--mobile-chat--first-line {
  border-bottom: 2px solid #0da088;
}

body .main-content .other-channels .channels-list__item__reference--mobile-chat--second-line {
  border-bottom: 2px solid #0da088;
}

body .rights-contacts {
  min-height: 196px;
  padding: 3.4vw 4.1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #393e6b;
}

body .rights-contacts .rights-wrapper {
  min-height: 140px;
  height: 9.6vw;
}

body .rights-contacts .rights-wrapper .logo-wrapper {
  display: block;
  width: 146px;
  margin-bottom: 25px;
}

body .rights-contacts .rights-wrapper .logo-wrapper .logo {
  width: 146px;
}

body .rights-contacts .rights-wrapper .desc {
  color: #b6b9c9;
}

body .rights-contacts .rights-wrapper .desc__line {
  font-size: 0.875em;
}

body .rights-contacts .contacts-tel-wrapper {
  display: block;
  margin-left: 11.3vw;
  margin-right: 10px;
  min-height: 140px;
  height: 9.6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
}

body .rights-contacts .contacts-tel-wrapper .tel-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item {
  width: 290px;
  /* margin-bottom: 20px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-wrap: wrap; */
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item .icon-wrapper {
  width: 30px;
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item .icon-wrapper .phone-icon {
  width: 30px;
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item .tel {
  text-decoration: none;
  color: #fff;
  font-size: 1.375em;
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item .tel-main {
  margin-left: 10px;
  font-size: 1.625em;
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item .desc {
  color: #b6b9c9;
  font-size: 0.875em;
  /* margin-bottom: 28px; */
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item__tel-main {
  margin-bottom: 19px;
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item__tel {
  margin-bottom: 10px;
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item__desc {
  margin-bottom: 16px;
}

body .rights-contacts .contacts-email-wrapper {
  display: block;
  margin-left: auto;
  min-height: 140px;
  height: 9.6vw;
}

body .rights-contacts .contacts-email-wrapper .email {
  margin-bottom: 10px;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}

body .rights-contacts .contacts-email-wrapper .desc {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #b6b9c9;
}

body .rights-contacts .contacts-email-wrapper .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .rights-contacts .contacts-email-wrapper .icons-container .icon-wrapper .icon {
  fill: #fff;
}

body .rights-contacts .contacts-email-wrapper .icons-container .icon-vk {
  margin-right: 24px;
  width: 24px;
}

body .rights-contacts .contacts-email-wrapper .icons-container .icon-facebook {
  margin-right: 24px;
  width: 10px;
}

body .rights-contacts .contacts-email-wrapper .icons-container .icon-twitter {
  margin-right: 19px;
  width: 22px;
}

body .rights-contacts .contacts-email-wrapper .icons-container .icon-skype {
  width: 20px;
}

body .fixed-icon {
  display: block;
  right: 35px;
  bottom: 23px;
  position: fixed;
}

body .fixed-icon .icon-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2cd3b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .fixed-icon .icon-wrapper .icon {
  width: 25px;
  height: 25px;
}

@media (min-width: 751px) and (max-width: 1330px) {
  body .main-content .after-install .step-list {
    height: 472px;
  }
}

@media (min-width: 751px) and (max-width: 992px) {
  body .main-content .webim-install__header {
    margin-left: 10vw;
  }
  body .main-content .webim-install__desc {
    margin-left: 10vw;
  }
  body .main-content .webim-install__button-wrapper {
    margin-left: 10vw;
  }
  body .main-content .easy-install__header {
    margin-left: 10vw;
  }
  body .main-content .easy-install__desc {
    margin-left: 10vw;
  }
  body .main-content .easy-install__steps-wrapper {
    margin-left: 10vw;
  }
  body .main-content .html-install__header {
    margin-left: 10vw;
  }
  body .main-content .dashboard-install__header {
    margin-left: 10vw;
  }
  body .main-content .dashboard-install__desc {
    margin-left: 10vw;
  }
  body .main-content .after-install__header {
    margin-left: 10vw;
  }
  body .main-content .after-install__desc {
    margin-left: 10vw;
  }
  body .main-content .after-install__button-wrapper {
    margin-left: 10vw;
  }
  body .main-content .other-channels__desc {
    margin-left: 10vw;
  }
  body .main-content .html-install .install-list {
    margin-left: 13.5vw;
    height: 496px;
  }
  body .main-content .dashboard-install .install-list {
    margin-left: 13.5vw;
    height: 568px;
  }
  body .main-content .after-install .step-list {
    margin-left: 10vw;
  }
  body .main-content .other-channels .channels-list {
    margin-left: 10vw;
  }
}

@media (min-width: 751px) and (max-width: 876px) {
  body .header .menu-wrapper {
    font-size: 1em;
  }
  body .header .menu-wrapper .login-menu__item--login {
    margin-right: 1vw;
  }
  body .header .menu-wrapper .section-menu__item {
    margin-right: 1vw;
  }
  body .header .menu-wrapper .section-menu__item--logo {
    margin-left: 1vw;
    margin-right: 0;
  }
}

@media (min-width: 751px) and (max-width: 843px) {
  body .main-content .other-channels .channels-list {
    height: 447px;
  }
  body .main-content .other-channels .channels-list__item {
    margin-bottom: 27px;
  }
}

@media (min-width: 751px) and (max-width: 821px) {
  body .rights-contacts .contacts-tel-wrapper {
    margin-left: 30px;
  }
}

@media (min-width: 320px) and (max-width: 750px) {
  body .header {
    background: url("../images/logo_head.svg") no-repeat center center;
    background-size: 30.4vw 7.5vw;
    padding: 0 8.95vw;
  }
  body .header .menu-wrapper .login-menu {
    display: none;
  }
  body .header .menu-wrapper .section-menu {
    display: none;
  }
  body .header .menu-wrapper #mobile-menuToggle {
    display: block;
    display: block;
    position: relative;
    top: 32px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  body .header .menu-wrapper #mobile-menuToggle input {
    display: block;
    width: 69px;
    height: 58px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  body .header .menu-wrapper #mobile-menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -2px);
    transform: rotate(45deg) translate(-2px, -2px);
    background: #fff;
  }
  body .header .menu-wrapper #mobile-menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    transform: rotate(-45deg) translate(0, 0);
  }
  body .header .menu-wrapper #mobile-menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  body .header .menu-wrapper #mobile-menuToggle input:checked ~ ul#menu {
    -webkit-transform: none;
    transform: none;
  }
  body .header .menu-wrapper #mobile-menuToggle span {
    display: block;
    width: 57px;
    height: 5px;
    margin-bottom: 13px;
    position: relative;
    background: #2cd3b8;
    z-index: 1;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  body .header .menu-wrapper #mobile-menuToggle span:first-child {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  body .header .menu-wrapper #mobile-menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  body .header .menu-wrapper #mobile-menuToggle #menu {
    position: absolute;
    width: 250px;
    margin: -100px 0 0 -9.3vw;
    padding-left: 20px;
    padding-top: 120px;
    background: #2cd3b8;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  body .header .menu-wrapper #mobile-menuToggle #menu li {
    padding: 10px 0;
    font-size: 1.5em;
  }
  body .main-content .webim-install {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  body .main-content .webim-install__header {
    margin-top: calc(12.3vw - 7px);
    margin-left: 0;
    padding-left: 0;
    color: #393e6b;
    font-size: 3em;
    text-transform: uppercase;
    -ms-flex-preferred-size: 616px;
    flex-basis: 616px;
  }
  body .main-content .webim-install__desc {
    margin-top: 8.5vw;
    margin-left: 0;
    padding: 0;
    min-width: 0;
    font-size: 1.625em;
    color: #74757b;
    -ms-flex-preferred-size: 616px;
    flex-basis: 616px;
    padding-right: 16vw;
  }
  body .main-content .webim-install__desc--second {
    margin-top: 0;
    padding-right: 8vw;
  }
  body .main-content .webim-install__desc--second .mobile {
    display: block;
  }
  body .main-content .webim-install__button-wrapper {
    margin-top: 12.8vw;
    margin-bottom: 10.2vw;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-preferred-size: 616px;
    flex-basis: 616px;
  }
  body .main-content .webim-install__button-wrapper .button--try-free {
    margin: 0 10px 4.2vw;
    color: #fff;
    background: #2cd3b8;
    height: 90px;
    border-radius: 45px;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 0;
  }
  body .main-content .webim-install__button-wrapper .button--rate {
    margin: 0 10px;
    color: #393e6b;
    border: 1px solid #393e6b;
    height: 90px;
    border-radius: 45px;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 0;
  }
  body .main-content .easy-install {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  body .main-content .easy-install__header {
    margin-top: 12.8vw;
    margin-left: 0;
    padding-left: 0;
    color: #393e6b;
    font-size: 3em;
    text-transform: uppercase;
    -ms-flex-preferred-size: 616px;
    flex-basis: 616px;
    padding-right: 16vw;
  }
  body .main-content .easy-install__desc {
    margin-top: 7.7vw;
    margin-left: 0;
    padding: 0;
    min-width: 0;
    font-size: 1.625em;
    color: #74757b;
    -ms-flex-preferred-size: 616px;
    flex-basis: 616px;
    padding-right: 16vw;
  }
  body .main-content .easy-install__steps-wrapper {
    margin: 12.8vw 0 11.5vw;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-preferred-size: 616px;
    flex-basis: 616px;
  }
  body .main-content .easy-install__steps-wrapper .registration {
    margin-left: 4.8vw;
    margin-right: 26.4vw;
    padding-left: 0;
    width: 118px;
  }
  body .main-content .easy-install__steps-wrapper .registration__small-reference {
    margin-top: 3.7vw;
  }
  body .main-content .easy-install__steps-wrapper .registration__small-reference--registration {
    padding: 0 1px;
    color: #0da088;
    font-size: 1.625em;
    text-decoration: none;
    border-bottom: 2px solid #0da088;
  }
  body .main-content .easy-install__steps-wrapper .registration:before {
    content: "1";
    display: block;
    margin-bottom: -83px;
    margin-left: -43px;
    font-weight: bold;
    font-size: 8em;
    color: #e9e9ed;
  }
  body .main-content .easy-install__steps-wrapper .html-setup {
    padding-left: 0;
    width: 194px;
  }
  body .main-content .easy-install__steps-wrapper .html-setup__small-reference {
    margin-top: 3.7vw;
  }
  body .main-content .easy-install__steps-wrapper .html-setup__small-reference--setup {
    padding: 0 1px;
    color: #0da088;
    font-size: 1.625em;
    text-decoration: none;
    border-bottom: 2px solid #0da088;
  }
  body .main-content .easy-install__steps-wrapper .html-setup:before {
    content: "2";
    display: block;
    margin-bottom: -83px;
    margin-left: -43px;
    font-weight: bold;
    font-size: 8em;
    color: #e9e9ed;
  }
  body .main-content .html-install {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  body .main-content .html-install__header {
    margin-top: 11.9vw;
    margin-left: 0;
    padding-left: 0;
    color: #393e6b;
    font-size: 3em;
    text-transform: uppercase;
    -ms-flex-preferred-size: 616px;
    flex-basis: 616px;
    padding-right: 24vw;
  }
  body .main-content .html-install .install-list {
    margin-top: 8.7vw;
    margin-bottom: 13.4vw;
    height: 144.5vw;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 37px;
    -ms-flex-preferred-size: 616px;
    flex-basis: 616px;
  }
  body .main-content .html-install .install-list__item {
    padding-right: 8vw;
  }
  body .main-content .html-install .install-list__item__reference {
    padding: 0 1px;
    color: #0da088;
    font-size: 1.875em;
    text-decoration: none;
    border-bottom: 2px solid #0da088;
    margin-left: 22px;
  }
  body .main-content .html-install .install-list__item__reference .mobile {
    display: block;
  }
  body .main-content .html-install .install-list__item__desc {
    margin-top: 4.8vw;
    margin-left: 0;
    color: #74757b;
    font-size: 1.5em;
  }
  body .main-content .html-install .install-list__item__desc .mobile {
    display: block;
  }
  body .main-content .html-install .install-list__item::before {
    content: "\A";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #3b4269;
    display: inline-block;
    margin: 0 0 5px -37px;
  }
  body .main-content .dashboard-install {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  body .main-content .dashboard-install__header {
    margin-top: 12.2vw;
    margin-left: 0;
    padding-left: 0;
    color: #393e6b;
    font-size: 3em;
    text-transform: uppercase;
    -ms-flex-preferred-size: 616px;
    flex-basis: 616px;
  }
  body .main-content .dashboard-install__desc {
    margin-top: 7.7vw;
    margin-left: 0;
    padding: 0;
    min-width: 0;
    font-size: 1.625em;
    color: #74757b;
    -ms-flex-preferred-size: 616px;
    flex-basis: 616px;
  }
  body .main-content .dashboard-install .install-list {
    margin-top: 12vw;
    margin-bottom: 11.3vw;
    height: 172vw;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 37px;
    -ms-flex-preferred-size: 616px;
    flex-basis: 616px;
  }
  body .main-content .dashboard-install .install-list__item {
    padding-right: 8vw;
  }
  body .main-content .dashboard-install .install-list__item__reference {
    padding: 0 1px;
    color: #0da088;
    font-size: 1.875em;
    text-decoration: none;
    border-bottom: 2px solid #0da088;
    margin-left: 22px;
  }
  body .main-content .dashboard-install .install-list__item__reference .mobile {
    display: block;
  }
  body .main-content .dashboard-install .install-list__item__desc {
    margin-top: 4.8vw;
    margin-left: 0;
    color: #74757b;
    font-size: 1.5em;
  }
  body .main-content .dashboard-install .install-list__item__desc .mobile {
    display: block;
  }
  body .main-content .dashboard-install .install-list__item::before {
    content: "\A";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #3b4269;
    display: inline-block;
    margin: 0 0 5px -37px;
  }
  body .main-content .dashboard-install .install-list__item {
    padding-right: 2vw;
  }
  body .main-content .after-install {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  body .main-content .after-install__header {
    margin-top: 11.5vw;
    margin-left: 19.1vw;
    padding-left: 10px;
    color: #393e6b;
    font-size: 2.25em;
    text-transform: uppercase;
    margin-left: 0;
    padding-left: 0;
    color: #393e6b;
    font-size: 3em;
    text-transform: uppercase;
    -ms-flex-preferred-size: 616px;
    flex-basis: 616px;
    padding-right: 12vw;
  }
  body .main-content .after-install__desc {
    margin-top: 7.4vw;
    margin-left: 0;
    padding: 0;
    min-width: 0;
    font-size: 1.625em;
    color: #74757b;
    -ms-flex-preferred-size: 616px;
    flex-basis: 616px;
  }
  body .main-content .after-install__desc .mobile {
    display: block;
  }
  body .main-content .after-install .step-list {
    margin-top: 10.1vw;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    height: 109.6vw;
    -ms-flex-preferred-size: 616px;
    flex-basis: 616px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  body .main-content .after-install .step-list__item__image-block {
    width: 102px;
    height: 102px;
    margin-right: 2.2vw;
  }
  body .main-content .after-install .step-list__item__image-block .icon-01 {
    width: 49px;
    height: 36px;
  }
  body .main-content .after-install .step-list__item__image-block .icon-02 {
    width: 40px;
    height: 32px;
  }
  body .main-content .after-install .step-list__item__image-block .icon-03 {
    width: 50px;
    height: 50px;
  }
  body .main-content .after-install .step-list__item__image-block .icon-04 {
    width: 56px;
    height: 36px;
  }
  body .main-content .after-install .step-list__item__image-block .icon-05 {
    width: 44px;
    height: 51px;
  }
  body .main-content .after-install .step-list__item__image-block .icon-06 {
    width: 45px;
    height: 40px;
  }
  body .main-content .after-install .step-list__item__header {
    display: none;
  }
  body .main-content .after-install .step-list__item__desc {
    padding-top: 0.2em;
    font-size: 1.5em;
    color: #393e6b;
    width: 61.4vw;
  }
  body .main-content .after-install .step-list__item__desc .mobile-step-header {
    display: inline-block;
    margin-right: 10px;
  }
  body .main-content .after-install__button-wrapper {
    margin-top: 13.1vw;
    margin-bottom: 13.1vw;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-preferred-size: 616px;
    flex-basis: 616px;
  }
  body .main-content .after-install__button-wrapper .button--all-features {
    margin: 0 10px 4.2vw;
    color: #fff;
    background: #2cd3b8;
    height: 90px;
    border-radius: 45px;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 0;
  }
  body .main-content .after-install__button-wrapper .button--test-free {
    margin: 0 10px;
    color: #fff;
    background: #393e6b;
    height: 90px;
    border-radius: 45px;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 0;
  }
  body .main-content .other-channels {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  body .main-content .other-channels__desc {
    margin-left: 0;
    padding: 0;
    min-width: 0;
    font-size: 1.625em;
    color: #74757b;
    -ms-flex-preferred-size: 616px;
    flex-basis: 616px;
    margin-top: 12.1vw;
    margin-bottom: 10.6vw;
    padding-right: 8vw;
    color: #393e6b;
    font-size: 1.5em;
  }
  body .main-content .other-channels .channels-list {
    -ms-flex-preferred-size: 616px;
    flex-basis: 616px;
    height: 100vw;
    margin: 0 0 14.2vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  body .main-content .other-channels .channels-list__item {
    margin-left: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  body .main-content .other-channels .channels-list__item__image-block {
    width: 67px;
    height: 67px;
  }
  body .main-content .other-channels .channels-list__item__image-block .icon {
    width: 67px;
    height: 67px;
  }
  body .main-content .other-channels .channels-list__item__image-block .icon--social-networks .st0 {
    fill: #3B4269;
  }
  body .main-content .other-channels .channels-list__item__image-block .icon--messengers .st0 {
    -webkit-clip-path: url("#SVGID_2_");
    clip-path: url("#SVGID_2_");
    fill: #3DD3A1;
  }
  body .main-content .other-channels .channels-list__item__image-block .icon--messengers .st1 {
    fill: #FFFFFF;
  }
  body .main-content .other-channels .channels-list__item__image-block .icon--chatbots .st0 {
    fill: #33AFD1;
  }
  body .main-content .other-channels .channels-list__item__image-block .icon--chatbots .st1 {
    fill: #FFFFFF;
  }
  body .main-content .other-channels .channels-list__item__image-block .icon--feedback .st0 {
    fill: #DAB81A;
  }
  body .main-content .other-channels .channels-list__item__image-block .icon--yandexd .st0 {
    fill: url("#Combined-Shape_1_");
  }
  body .main-content .other-channels .channels-list__item__image-block .icon--mobile-chat .st0 {
    -webkit-clip-path: url("#SVGID_2_");
    clip-path: url("#SVGID_2_");
    fill: #88BC17;
  }
  body .main-content .other-channels .channels-list__item__image-block .icon--mobile-chat .st1 {
    fill: #FFFFFF;
  }
  body .main-content .other-channels .channels-list__item__image-block .icon--email .st0 {
    fill: #5F98D1;
  }
  body .main-content .other-channels .channels-list__item__image-block .icon--email .st1 {
    fill: #FFFFFF;
  }
  body .main-content .other-channels .channels-list__item__reference {
    height: 1.2em;
    margin-left: calc(1.7vw - 1px);
    padding: 0 1px;
    color: #0da088;
    font-size: 1.625em;
    text-decoration: none;
    border-bottom: 2px solid #0da088;
    font-size: 1.5em;
  }
  body .main-content .other-channels .channels-list__item__reference--mobile-chat {
    border: 0;
  }
  body .main-content .other-channels .channels-list__item__reference--mobile-chat--first-line {
    border-bottom: 2px solid #0da088;
  }
  body .main-content .other-channels .channels-list__item__reference--mobile-chat--second-line {
    border-bottom: 2px solid #0da088;
  }
  body .main-content .other-channels .channels-list__item--first {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  body .main-content .other-channels .channels-list__item--second {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  body .main-content .other-channels .channels-list__item--third {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  body .main-content .other-channels .channels-list__item--fourth {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  body .main-content .other-channels .channels-list__item--fifth {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  body .main-content .other-channels .channels-list__item--sixth {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  body .main-content .other-channels .channels-list__item--seventh {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  body .rights-contacts {
    height: 22.1vw;
    padding: 0 10.1vw;
    background: #393e6b;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  body .rights-contacts .rights-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  body .rights-contacts .rights-wrapper .logo-wrapper {
    display: none;
  }
  body .rights-contacts .rights-wrapper .desc {
    color: #fff;
  }
  body .rights-contacts .rights-wrapper .desc__line {
    font-size: 1.5em;
  }
  body .rights-contacts .contacts-tel-wrapper {
    display: none;
  }
  body .rights-contacts .contacts-email-wrapper {
    display: none;
  }
  body .fixed-icon {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 640px) {
  body .main-content .webim-install__header {
    padding: 0 12px;
  }
  body .main-content .webim-install__desc {
    padding: 0 12px;
  }
  body .main-content .easy-install__header {
    padding: 0 12px;
  }
  body .main-content .easy-install__desc {
    padding: 0 12px;
  }
  body .main-content .easy-install__steps-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  body .main-content .easy-install__steps-wrapper .registration {
    margin-left: 50px;
    margin-right: auto;
  }
  body .main-content .easy-install__steps-wrapper .html-setup {
    margin-left: 50px;
    margin-right: auto;
  }
  body .main-content .html-install__header {
    padding: 0 12px;
  }
  body .main-content .html-install {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  body .main-content .html-install__header {
    max-width: 92.5vw;
    max-height: 100px;
    font-size: 2.5em;
  }
  body .main-content .html-install .install-list {
    padding: 0 12px;
  }
  body .main-content .html-install .install-list__item {
    max-width: 92.5vw;
  }
  body .main-content .html-install .install-list__item__reference {
    margin-left: 11px;
    font-size: 1em;
  }
  body .main-content .html-install .install-list__item__desc {
    font-size: 0.875em;
  }
  body .main-content .html-install .install-list__item::before {
    margin-left: -19px;
    height: 4px;
    width: 4px;
  }
  body .main-content .dashboard-install__header {
    padding: 0 12px;
  }
  body .main-content .dashboard-install__desc {
    padding: 0 12px;
  }
  body .main-content .dashboard-install {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    min-height: 1200px;
  }
  body .main-content .dashboard-install__header {
    padding-left: 0;
    padding-right: 0;
    max-width: 92.5vw;
    font-size: 2.5em;
  }
  body .main-content .dashboard-install__desc {
    padding-left: 0;
    padding-right: 0;
    max-width: 92.5vw;
    margin-top: 0;
  }
  body .main-content .dashboard-install .install-list {
    margin-top: 0;
    padding: 0 12px;
  }
  body .main-content .dashboard-install .install-list__item {
    max-width: 92.5vw;
  }
  body .main-content .dashboard-install .install-list__item__reference {
    margin-left: 11px;
    font-size: 1em;
  }
  body .main-content .dashboard-install .install-list__item__desc {
    font-size: 0.875em;
  }
  body .main-content .dashboard-install .install-list__item__desc--fluid {
    font-size: 0.875em;
  }
  body .main-content .dashboard-install .install-list__item__desc--fluid .mobile {
    display: none;
  }
  body .main-content .dashboard-install .install-list__item::before {
    margin-left: -19px;
    height: 4px;
    width: 4px;
  }
  body .main-content .after-install__header {
    padding: 0 12px;
  }
  body .main-content .after-install__desc {
    padding: 0 12px;
  }
  body .main-content .after-install .step-list {
    margin-top: 10.1vw;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0 12px;
    height: 109.6vw;
  }
  body .main-content .after-install .step-list__item {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  body .main-content .after-install .step-list__item__image-block {
    width: 34px;
    height: 34px;
    margin-right: 2.2vw;
    background: #2cd3b8;
  }
  body .main-content .after-install .step-list__item__image-block .icon-01 {
    width: 16.3px;
    height: 12px;
  }
  body .main-content .after-install .step-list__item__image-block .icon-02 {
    width: 13.3px;
    height: 10.7px;
  }
  body .main-content .after-install .step-list__item__image-block .icon-03 {
    width: 16.7px;
    height: 16.7px;
  }
  body .main-content .after-install .step-list__item__image-block .icon-04 {
    width: 18.7px;
    height: 12px;
  }
  body .main-content .after-install .step-list__item__image-block .icon-05 {
    width: 14.7px;
    height: 17px;
  }
  body .main-content .after-install .step-list__item__image-block .icon-06 {
    width: 15px;
    height: 13.3px;
  }
  body .main-content .after-install .step-list__item__desc {
    padding-right: 0;
    font-size: 0.875em;
  }
  body .main-content .other-channels__desc {
    padding: 0 12px;
  }
  body .main-content .other-channels .channels-list {
    padding: 0 12px;
  }
  body .main-content .other-channels .channels-list__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  body .main-content .other-channels .channels-list__item__image-block {
    width: 33px;
    height: 33px;
  }
  body .main-content .other-channels .channels-list__item__image-block .icon {
    width: 33px;
    height: 33px;
  }
  body .main-content .other-channels .channels-list__item__reference {
    font-size: 1em;
  }
}
