@import 'reset','variables', 'mixins';
@font-face {
  font-family: 'Ubuntu';
  src: url("https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=cyrillic,cyrillic-ext");
}

body {
  font-family: 'Ubuntu', sans-serif;

  .header {
    height: 107px;
    -o-border-image: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.05) 50%, $section-bckg-color 100%) 0 0 100 0 repeat;
    border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.25)), color-stop(50%, rgba(0,0,0,0.05)), to($section-bckg-color)) 0 0 100 0 repeat;
    border-image: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.05) 50%, $section-bckg-color 100%) 0 0 100 0 repeat;
    border-width: 0 0 7px 0;
    border-style: solid;
    background: url("../images/header-bckg.jpg") left no-repeat;
    background-size: 40.9vw 100px;

    .menu-wrapper {
      height: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      color: $header-color;
      font-size: 1.125em;
      text-transform: uppercase;

      .login-menu {
        padding-left: 4.1vw;
        width: 40.9vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        &__item--login {
          margin-right: 1.7vw;
        }
      }

      .section-menu {
        padding-right: 4.1vw;
        width: 59.1vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        &__item {
          margin-right: 1.7vw;

          .logo-wrapper {
            width: 114px;

            .logo {
              width: 114px;
            }
          }
        }

        &__item--logo {
          margin-left: 1.7vw;
          margin-right: 0;
        }
      }

      #mobile-menuToggle {
        display: none;
      }
    }
  }

  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .webim-install {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background: $section-bckg-color;

      &__header {
        margin-top: calc(4.7vw - 7px);
        @include header-style;
      }

      &__desc {
        margin-top: 2.4vw;
        @include text-style;
        padding-bottom: 0;

        .mobile {
          display: none;
        }
      }

      &__desc--second {
        margin-top: 0;
        padding-bottom: 10px;
      }

      &__button-wrapper {
        margin-top: 3.6vw;
        margin-bottom: 2vw;
        @include button-wrapper-style;

        .button--try-free {
          margin: 0 10px 2vw;
          color: #fff;
          background: $button-green-color;
          @include button-style;

          &:hover {
            background-color: lighten($button-green-color, 20%);
          }

          &:active {
            background-color: darken($button-green-color, 20%);
          }
        }

        .button--rate {
          margin: 0 10px 2vw;
          color: $header-color;
          border: 1px solid $header-color;
          @include button-style;

          &:hover {
            color: lighten($header-color, 20%);
            border-color: lighten($header-color, 20%);
          }

          &:active {
            color: #fff;
            background-color: $header-color;
            border: 0;
          }
        }
      }
    }

    .easy-install {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      &__header {
        margin-top: 4.3vw;
        @include header-style;

        .mobile {
          display: none;
        }
      }

      &__desc {
        margin-top: 1.6vw;
        @include text-style;
      }

      &__steps-wrapper {
        margin-top: 1.9vw;
        margin-bottom: 5.2vw;
        margin-left: $inner-content-margin;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;

        .registration {
          margin-right: 8.1vw;
          padding-left: 10px;
          width: 118px;

          &__small-reference {
            margin-top: 41px;

            &--registration {
              @include small-reference-style;
              @include a-hover-active-style;
            }
          }
        }

        .registration:before {
          content: "1";
          @include big-numbers-style;
        }

        .html-setup {
          padding-left: 10px;
          width: 194px;

          &__small-reference {
            margin-top: 41px;

            &--setup {
              @include small-reference-style;
              @include a-hover-active-style;
            }
          }
        }

        .html-setup:before {
          content: "2";
          @include big-numbers-style;
        }
      }
    }

    .html-install {
      padding-right: 2vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      background: $section-bckg-color;

      &__header {
        margin-top: 5vw;
        @include header-style;

        .mobile {
          display: none;
        }
      }

      .install-list {
        margin-top: 4.2vw;
        margin-bottom: 5.1vw;
        @include full-list-style;

        .mobile {
          display: none;
        }
      }
    }

    .dashboard-install {
      padding-right: 2vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      &__header {
        margin-top: 4.7vw;
        @include header-style;
      }

      &__desc {
        margin-top: 2.1vw;
        @include text-style;
        width: 40vw;
      }

      .install-list {
        margin-top: 4.4vw;
        margin-bottom: 4.9vw;
        @include full-list-style;
      }
    }

    .after-install {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background: $section-bckg-color;

      &__header {
        margin-top: 4.2vw;
        @include header-style;
      }

      &__desc {
        margin-top: 1.6vw;
        @include text-style;
        width: 50vw;

        .mobile {
          display: none;
        }
      }

      .step-list {
        margin-top: 3.9vw;
        margin-left: $inner-content-margin;
        margin-bottom: 4.5vw;
        padding-left: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        &__item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          &__image-block {
            width: 74px;
            height: 74px;
            margin-right: 2.2vw;
            border-radius: 50%;
            background: $button-green-color;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            .icon-01 {
              width: 34px;
              height: 25px;
              margin: auto;
              fill: #fff;
            }

            .icon-02 {
              width: 29px;
              height: 23px;
              margin: auto;
              fill: #fff;
            }

            .icon-03 {
              width: 36px;
              height: 36px;
              margin: auto;
              fill: #fff;
            }

            .icon-04 {
              width: 40px;
              height: 26px;
              margin: auto;
              fill: #fff;
            }

            .icon-05 {
              width: 32px;
              height: 37px;
              margin: auto;
              fill: #fff;
            }

            .icon-06 {
              width: 32px;
              height: 29px;
              margin: auto;
              fill: #fff;
            }
          }

          &__header {
            margin-right: 10px;
            font-size: 1.5em;
            color: $header-color;
          }

          &__desc {
            padding-top: 0.2em;
            font-size: 1.125em;
            color: $header-color;

            .mobile-step-header {
              display: none;
            }
          }
        }

        &__item:not(:last-child) {
          margin-bottom: 1.8vw;
        }

        &__item:last-child {
          margin-bottom: 0;
        }
      }

      &__button-wrapper {
        margin-bottom: 2.2vw;
        @include button-wrapper-style;

        .button--all-features {
          margin: 0 10px 2vw;
          color: #fff;
          background: $button-green-color;
          @include button-style;

          &:hover {
            background-color: lighten($button-green-color, 20%);
          }

          &:active {
            background-color: darken($button-green-color, 20%);
          }
        }

        .button--test-free {
          margin: 0 10px 2vw;
          color: #fff;
          background: $header-color;
          @include button-style;

          &:hover {
            background-color: lighten($header-color, 20%);
          }

          &:active {
            background-color: darken($header-color, 20%);
          }
        }
      }
    }

    .other-channels {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;

      &__desc {
        @include text-style;
        margin-top: 4vw;
        margin-bottom: 4.5vw;
        width: 40vw;
        color: $header-color;
        font-size: 1.125em;
      }

      .channels-list {
        margin: 0 calc(#{$inner-content-margin} + 10px) 4.5vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        &__item {
          margin-left: 4px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-preferred-size: 290px;
          flex-basis: 290px;

          &__image-block {
            width: 40px;
            height: 40px;

            .icon {
              width: 40px;
              height: 40px;
            }

            .icon--social-networks {
              .st0 {
                fill: #3B4269;
              }
            }

            .icon--messengers {
              .st0 {
                -webkit-clip-path: url("#SVGID_2_");
                clip-path: url("#SVGID_2_");
                fill: #3DD3A1;
              }

              .st1 {
                fill: #FFFFFF;
              }
            }

            .icon--chatbots {
              .st0 {
                fill: #33AFD1;
              }

              .st1 {
                fill: #FFFFFF;
              }
            }

            .icon--feedback {
              .st0 {
                fill: #DAB81A;
              }
            }

            .icon--yandexd {
              .st0 {
                fill: url("#Combined-Shape_1_");
              }
            }

            .icon--mobile-chat {
              .st0 {
                -webkit-clip-path: url("#SVGID_2_");
                clip-path: url("#SVGID_2_");
                fill: #88BC17;
              }

              .st1 {
                fill: #FFFFFF;
              }
            }

            .icon--email {
              .st0 {
                fill: #5F98D1;
              }

              .st1 {
                fill: #FFFFFF;
              }
            }
          }

          &__reference {
            height: 21px;
            margin-left: calc(1.7vw - 1px);
            @include small-reference-style;
            @include a-hover-active-style;
          }

          &__reference--mobile-chat {
            border: 0;

            &--first-line {
              border-bottom: 2px solid $reference-color;
            }

            &--second-line {
              border-bottom: 2px solid $reference-color;
            }
          }

          &:hover {
            span {
              color: lighten($reference-color, 20%);
              border-color: lighten($reference-color, 20%);
            }
          }
          &:active {
            span {
              color: darken($reference-color, 20%);
              border-color: darken($reference-color, 20%);
            }
          }
        }

        &__item:not(:last-child) {
          margin-bottom: 2.7vw;
        }
      }
    }
  }

  .rights-contacts {
    padding: 3.4vw 4.1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background: $header-color;

    .rights-wrapper {
      -ms-flex-preferred-size: 15.36vw;
      flex-basis: 15.36vw;

      .logo-wrapper {
        display: block;
        margin-bottom: 25px;

        .logo {
          width: 146px;
        }
      }

      .desc {
        color: $footer-text-color;

        &__line {
          font-size: 0.875em;
        }
      }
    }

    .contacts-tel-wrapper {
      padding-left: 4.94vw;
      -ms-flex-preferred-size: 30.48vw;
      flex-basis: 30.48vw;
      display: block;
      margin-right: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
      justify-content: stretch;

      .tel-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        &__item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;

          .icon-wrapper {
            width: 30px;

            .phone-icon {
              width: 30px;
            }
          }

          .tel {
            text-decoration: none;
            color: #fff;
            font-size: 1.375em;
          }

          .tel-main {
            margin-left: 10px;
            font-size: 1.625em;
          }

          .desc {
            color: $footer-text-color;
            font-size: 0.875em;
          }
        }

        &__item__tel-main {
          margin-bottom: 19px;
        }

        &__item__tel {
          margin-bottom: 10px;
        }

        &__item__desc {
          margin-bottom: 16px;
        }
      }
    }

    .contacts-email-wrapper {
      display: block;

      .email {
        margin-bottom: 10px;
        color: #fff;
        font-size: 1em;
        text-decoration: none;
      }

      .desc {
        margin-top: 10px;
        margin-bottom: 20px;
        color: $footer-text-color;
      }

      .icons-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .icon-wrapper {
          .icon {
            fill: #fff;
          }
        }

        .icon-vk {
          margin-right: 24px;
          width: 24px;
        }

        .icon-facebook {
          margin-right: 24px;
          width: 10px;
        }

        .icon-twitter {
          margin-right: 19px;
          width: 22px;
        }

        .icon-skype {
          width: 20px;
        }
      }
    }
  }

  .fixed-icon {
    display: block;
    right: 35px;
    bottom: 23px;
    position: fixed;

    .icon-wrapper {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $button-green-color;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .icon {
        width: 25px;
        height: 25px;
      }
    }
  }
}
@import 'mobile';
