@import url("https://fonts.googleapis.com/css?family=Ubuntu&amp;subset=cyrillic");
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  /* font-weight: normal; */
  vertical-align: baseline;
  background: transparent;
}

aside,
figure,
footer,
header,
nav,
section {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  font-family: Ubuntu, sans-serif;
}

body .header {
  height: 107px;
  /* background: $header-block-color; */
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.05) 50%, #eff4f4 100%) 0 0 100 0 repeat;
  border-width: 0px 0px 7px 0px;
  border-style: solid;
}

body .header .menu-wrapper {
  height: 100px;
  display: flex;
  justify-content: flex-start;
  color: #393e6b;
  font-size: 1.125em;
  text-transform: uppercase;
}

body .header .menu-wrapper .login-menu {
  padding-left: 4.1vw;
  width: 40.9vw;
  background: url("../images/header-bckg.jpg") right top no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

body .header .menu-wrapper .login-menu__item--login {
  margin-right: 1.7vw;
}

body .header .menu-wrapper .section-menu {
  padding-right: 4.1vw;
  width: 59.1vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body .header .menu-wrapper .section-menu__item {
  margin-right: 1.7vw;
}

body .header .menu-wrapper .section-menu__item .logo-wrapper {
  width: 114px;
}

body .header .menu-wrapper .section-menu__item .logo-wrapper .logo {
  width: 114px;
}

body .header .menu-wrapper .section-menu__item--logo {
  margin-left: 1.7vw;
  margin-right: 0vw;
}

body .header .menu-wrapper .mobile-menu {
  display: none;
}

body .main-content {
  display: flex;
  flex-direction: column;
}

body .main-content .webim-install {
  display: flex;
  flex-direction: column;
  background: #eff4f4;
}

body .main-content .webim-install__header {
  margin-top: calc(4.7vw - 7px);
  margin-left: 19.1vw;
  padding-left: 10px;
  /* margin-top: 40px; */
  color: #393e6b;
  font-size: 2.25em;
  text-transform: uppercase;
}

body .main-content .webim-install__desc {
  margin-top: 2.4vw;
  margin-left: 19.1vw;
  padding: 0 10px 10px 10px;
  width: 39vw;
  min-width: 540px;
  color: #74757b;
}

body .main-content .webim-install__button-wrapper {
  margin-top: 3.6vw;
  margin-bottom: 2vw;
  margin-left: 19.1vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

body .main-content .webim-install__button-wrapper .button--try-free {
  margin: 0 10px 2vw;
  color: #fff;
  background: #2cd3b8;
  min-width: 256px;
  height: 48px;
  border-radius: 24px;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 16px 20px;
}

body .main-content .webim-install__button-wrapper .button--rate {
  margin: 0 10px 2vw;
  color: #393e6b;
  border: 1px solid #393e6b;
  min-width: 256px;
  height: 48px;
  border-radius: 24px;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 16px 20px;
}

body .main-content .easy-install {
  display: flex;
  flex-direction: column;
}

body .main-content .easy-install__header {
  margin-top: 4.3vw;
  margin-left: 19.1vw;
  padding-left: 10px;
  /* margin-top: 40px; */
  color: #393e6b;
  font-size: 2.25em;
  text-transform: uppercase;
}

body .main-content .easy-install__desc {
  margin-top: 1.6vw;
  margin-left: 19.1vw;
  padding: 0 10px 10px 10px;
  width: 39vw;
  min-width: 540px;
  color: #74757b;
}

body .main-content .easy-install__steps-wrapper {
  margin-top: 1.9vw;
  margin-bottom: 5.2vw;
  margin-left: 19.1vw;
  display: flex;
  justify-content: flex-start;
}

body .main-content .easy-install__steps-wrapper .registration {
  margin-right: 8.1vw;
  padding-left: 10px;
  width: 118px;
}

body .main-content .easy-install__steps-wrapper .registration__small-reference {
  margin-top: 41px;
}

body .main-content .easy-install__steps-wrapper .registration__small-reference--registration {
  padding: 0 1px;
  color: #0da088;
  font-size: 1.125em;
  text-decoration: none;
  border-bottom: 2px solid #0da088;
}

body .main-content .easy-install__steps-wrapper .registration:before {
  content: "1";
  display: block;
  margin-bottom: -83px;
  margin-left: -43px;
  font-weight: bold;
  font-size: 8em;
  color: #e9e9ed;
}

body .main-content .easy-install__steps-wrapper .html-setup {
  padding-left: 10px;
  width: 194px;
}

body .main-content .easy-install__steps-wrapper .html-setup__small-reference {
  margin-top: 41px;
}

body .main-content .easy-install__steps-wrapper .html-setup__small-reference--setup {
  padding: 0 1px;
  color: #0da088;
  font-size: 1.125em;
  text-decoration: none;
  border-bottom: 2px solid #0da088;
}

body .main-content .easy-install__steps-wrapper .html-setup:before {
  content: "2";
  display: block;
  margin-bottom: -83px;
  margin-left: -43px;
  font-weight: bold;
  font-size: 8em;
  color: #e9e9ed;
}

body .main-content .html-install {
  min-width: 521px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #eff4f4;
}

body .main-content .html-install__header {
  margin-top: 5vw;
  margin-left: 19.1vw;
  padding-left: 10px;
  /* margin-top: 40px; */
  color: #393e6b;
  font-size: 2.25em;
  text-transform: uppercase;
}

body .main-content .html-install .install-list {
  margin-top: 4.2vw;
  margin-bottom: 5.1vw;
  height: 30.1vw;
  margin-left: calc(19.1vw + 26px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body .main-content .html-install .install-list__item__reference {
  padding: 0 1px;
  height: 25px;
  color: #0da088;
  font-size: 1.5em;
  text-decoration: none;
  border-bottom: 2px solid #0da088;
  margin-left: -1px;
}

body .main-content .html-install .install-list__item__desc {
  margin-top: 1vw;
  margin-left: 27px;
  color: #74757b;
}

body .main-content .html-install .install-list__item::before {
  content: "\A";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3b4269;
  display: inline-block;
  margin: 3px 30px 3px -15px;
}

body .main-content .dashboard-install {
  display: flex;
  flex-direction: column;
}

body .main-content .dashboard-install__header {
  margin-top: 4.7vw;
  margin-left: 19.1vw;
  padding-left: 10px;
  /* margin-top: 40px; */
  color: #393e6b;
  font-size: 2.25em;
  text-transform: uppercase;
}

body .main-content .dashboard-install__desc {
  margin-top: 2.1vw;
  margin-left: 19.1vw;
  padding: 0 10px 10px 10px;
  width: 39vw;
  min-width: 540px;
  color: #74757b;
  width: 40vw;
}

body .main-content .dashboard-install .install-list {
  margin-top: 4.4vw;
  margin-bottom: 4.9vw;
  height: 33.1vw;
  margin-left: calc(19.1vw + 26px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body .main-content .dashboard-install .install-list__item__reference {
  padding: 0 1px;
  height: 25px;
  color: #0da088;
  font-size: 1.5em;
  text-decoration: none;
  border-bottom: 2px solid #0da088;
  margin-left: -1px;
}

body .main-content .dashboard-install .install-list__item__desc {
  margin-top: 1vw;
  margin-left: 27px;
  color: #74757b;
}

body .main-content .dashboard-install .install-list__item::before {
  content: "\A";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3b4269;
  display: inline-block;
  margin: 3px 30px 3px -15px;
}

body .main-content .after-install {
  display: flex;
  flex-direction: column;
  background: #eff4f4;
}

body .main-content .after-install__header {
  margin-top: 4.2vw;
  margin-left: 19.1vw;
  padding-left: 10px;
  /* margin-top: 40px; */
  color: #393e6b;
  font-size: 2.25em;
  text-transform: uppercase;
}

body .main-content .after-install__desc {
  margin-top: 1.6vw;
  width: 47vw;
  margin-left: 19.1vw;
  padding: 0 10px 10px 10px;
  width: 39vw;
  min-width: 540px;
  color: #74757b;
}

body .main-content .after-install .step-list {
  margin-top: 3.9vw;
  margin-left: 19.1vw;
  margin-bottom: 4.5vw;
  padding-left: 10px;
  height: 35.4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body .main-content .after-install .step-list__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

body .main-content .after-install .step-list__item__image-block {
  width: 74px;
  height: 74px;
  margin-right: 2.2vw;
  border-radius: 50%;
  background: #2cd3b8;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .main-content .after-install .step-list__item__image-block .icon-01 {
  width: 34px;
  height: 25px;
  margin: auto;
  fill: #fff;
}

body .main-content .after-install .step-list__item__image-block .icon-02 {
  width: 29px;
  height: 23px;
  margin: auto;
  fill: #fff;
}

body .main-content .after-install .step-list__item__image-block .icon-03 {
  width: 36px;
  height: 36px;
  margin: auto;
  fill: #fff;
}

body .main-content .after-install .step-list__item__image-block .icon-04 {
  width: 40px;
  height: 26px;
  margin: auto;
  fill: #fff;
}

body .main-content .after-install .step-list__item__image-block .icon-05 {
  width: 32px;
  height: 37px;
  margin: auto;
  fill: #fff;
}

body .main-content .after-install .step-list__item__image-block .icon-06 {
  width: 32px;
  height: 29px;
  margin: auto;
  fill: #fff;
}

body .main-content .after-install .step-list__item__header {
  margin-right: 10px;
  font-size: 1.5em;
  color: #393e6b;
}

body .main-content .after-install .step-list__item__desc {
  padding-top: 0.2em;
  font-size: 1.125em;
  color: #393e6b;
}

body .main-content .after-install__button-wrapper {
  margin-bottom: 2.2vw;
  margin-left: 19.1vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

body .main-content .after-install__button-wrapper .button--all-features {
  margin: 0 10px 2vw;
  color: #fff;
  background: #2cd3b8;
  min-width: 256px;
  height: 48px;
  border-radius: 24px;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 16px 20px;
}

body .main-content .after-install__button-wrapper .button--test-free {
  margin: 0 10px 2vw;
  color: #fff;
  background: #393e6b;
  min-width: 256px;
  height: 48px;
  border-radius: 24px;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 16px 20px;
}

body .main-content .other-channels {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

body .main-content .other-channels__desc {
  margin-left: 19.1vw;
  padding: 0 10px 10px 10px;
  width: 39vw;
  min-width: 540px;
  color: #74757b;
  margin-top: 4vw;
  margin-bottom: 4.5vw;
  width: 40vw;
  color: #393e6b;
  font-size: 1.125em;
}

body .main-content .other-channels .channels-list {
  height: 210px;
  margin: 0 calc(19.1vw + 10px) 4.5vw;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  /* max-width: 900px; */
  /* flex-basis: 56.8vw; */
  /* &__item--mobile-chat {
          width: 320px;
          /* display: block; */
}

body .main-content .other-channels .channels-list__item {
  margin-left: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* align-content: flex-start; */
  /* flex-wrap: wrap; */
  flex-basis: 290px;
}

body .main-content .other-channels .channels-list__item__image-block {
  width: 40px;
  height: 40px;
}

body .main-content .other-channels .channels-list__item__image-block .icon {
  width: 40px;
  height: 40px;
}

body .main-content .other-channels .channels-list__item__image-block .icon--social-networks .st0 {
  fill: #3B4269;
}

body .main-content .other-channels .channels-list__item__image-block .icon--messengers .st0 {
  clip-path: url(#SVGID_2_);
  fill: #3DD3A1;
}

body .main-content .other-channels .channels-list__item__image-block .icon--messengers .st1 {
  fill: #FFFFFF;
}

body .main-content .other-channels .channels-list__item__image-block .icon--chatbots .st0 {
  fill: #33AFD1;
}

body .main-content .other-channels .channels-list__item__image-block .icon--chatbots .st1 {
  fill: #FFFFFF;
}

body .main-content .other-channels .channels-list__item__image-block .icon--feedback .st0 {
  fill: #DAB81A;
}

body .main-content .other-channels .channels-list__item__image-block .icon--yandexd .st0 {
  fill: url(#Combined-Shape_1_);
}

body .main-content .other-channels .channels-list__item__image-block .icon--mobile-chat .st0 {
  clip-path: url(#SVGID_2_);
  fill: #88BC17;
}

body .main-content .other-channels .channels-list__item__image-block .icon--mobile-chat .st1 {
  fill: #FFFFFF;
}

body .main-content .other-channels .channels-list__item__image-block .icon--email .st0 {
  fill: #5F98D1;
}

body .main-content .other-channels .channels-list__item__image-block .icon--email .st1 {
  fill: #FFFFFF;
}

body .main-content .other-channels .channels-list__item__reference {
  height: 21px;
  margin-left: calc(1.7vw - 1px);
  padding: 0 1px;
  color: #0da088;
  font-size: 1.125em;
  text-decoration: none;
  border-bottom: 2px solid #0da088;
}

body .main-content .other-channels .channels-list__item__reference--mobile-chat {
  border: 0;
}

body .main-content .other-channels .channels-list__item__reference--mobile-chat--first-line {
  border-bottom: 2px solid #0da088;
}

body .main-content .other-channels .channels-list__item__reference--mobile-chat--second-line {
  border-bottom: 2px solid #0da088;
}

body .rights-contacts {
  min-height: 196px;
  padding: 3.4vw 4.1vw;
  display: flex;
  background: #393e6b;
}

body .rights-contacts .rights-wrapper {
  min-height: 140px;
  height: 9.6vw;
}

body .rights-contacts .rights-wrapper .logo {
  width: 146px;
  margin-bottom: 25px;
}

body .rights-contacts .rights-wrapper .logo__image {
  width: 146px;
}

body .rights-contacts .rights-wrapper .desc {
  color: #b6b9c9;
}

body .rights-contacts .rights-wrapper .desc__line {
  font-size: 0.875em;
}

body .rights-contacts .contacts-tel-wrapper {
  margin-left: 11.3vw;
  margin-right: 10px;
  min-height: 140px;
  height: 9.6vw;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  /* width: 300px; */
}

body .rights-contacts .contacts-tel-wrapper .tel-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item {
  width: 290px;
  /* margin-bottom: 20px; */
  display: flex;
  /* flex-wrap: wrap; */
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item .icon-wrapper {
  width: 30px;
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item .icon-wrapper .phone-icon {
  width: 30px;
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item .tel {
  text-decoration: none;
  color: #fff;
  font-size: 1.375em;
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item .tel-main {
  margin-left: 10px;
  font-size: 1.625em;
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item .desc {
  color: #b6b9c9;
  font-size: 0.875em;
  /* margin-bottom: 28px; */
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item__tel-main {
  margin-bottom: 19px;
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item__tel {
  margin-bottom: 10px;
}

body .rights-contacts .contacts-tel-wrapper .tel-list__item__desc {
  margin-bottom: 16px;
}

body .rights-contacts .contacts-email-wrapper {
  margin-left: auto;
  min-height: 140px;
  height: 9.6vw;
}

body .rights-contacts .contacts-email-wrapper .email {
  margin-bottom: 10px;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}

body .rights-contacts .contacts-email-wrapper .desc {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #b6b9c9;
}

body .rights-contacts .contacts-email-wrapper .icons-container {
  display: flex;
  align-items: center;
}

body .rights-contacts .contacts-email-wrapper .icons-container .icon-wrapper .icon {
  fill: #fff;
}

body .rights-contacts .contacts-email-wrapper .icons-container .icon-vk {
  margin-right: 24px;
  width: 24px;
}

body .rights-contacts .contacts-email-wrapper .icons-container .icon-facebook {
  margin-right: 24px;
  width: 10px;
}

body .rights-contacts .contacts-email-wrapper .icons-container .icon-twitter {
  margin-right: 19px;
  width: 22px;
}

body .rights-contacts .contacts-email-wrapper .icons-container .icon-skype {
  width: 20px;
}

body .fixed-icon {
  right: 35px;
  bottom: 23px;
  /* position: -webkit-sticky; */
  position: fixed;
  /* position: sticky; */
}

body .fixed-icon .icon-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2cd3b8;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .fixed-icon .icon-wrapper .icon {
  width: 25px;
  height: 25px;
}

@media (min-width: 751px) and (max-width: 992px) {
  body .main-content .webim-install__header {
    margin-left: 10vw;
  }
  body .main-content .webim-install__desc {
    margin-left: 10vw;
  }
  body .main-content .webim-install__button-wrapper {
    margin-left: 10vw;
  }
  body .main-content .easy-install__header {
    margin-left: 10vw;
  }
  body .main-content .easy-install__desc {
    margin-left: 10vw;
  }
  body .main-content .easy-install__steps-wrapper {
    margin-left: 10vw;
  }
  body .main-content .html-install__header {
    margin-left: 10vw;
  }
  body .main-content .dashboard-install__header {
    margin-left: 10vw;
  }
  body .main-content .dashboard-install__desc {
    margin-left: 10vw;
  }
  body .main-content .after-install__header {
    margin-left: 10vw;
  }
  body .main-content .after-install__desc {
    margin-left: 10vw;
  }
  body .main-content .after-install__button-wrapper {
    margin-left: 10vw;
  }
  body .main-content .other-channels__desc {
    margin-left: 10vw;
  }
  body .main-content .html-install .install-list {
    margin-left: 13.5vw;
    height: 496px;
  }
  body .main-content .dashboard-install .install-list {
    margin-left: 13.5vw;
    height: 568px;
  }
  body .main-content .after-install .step-list {
    margin-left: 10vw;
  }
  body .main-content .other-channels .channels-list {
    margin-left: 10vw;
  }
}

@media (min-width: 751px) and (max-width: 1330px) {
  body .main-content .after-install .step-list {
    height: 472px;
  }
}

@media (min-width: 751px) and (max-width: 843px) {
  body .main-content .other-channels .channels-list {
    height: 447px;
  }
  body .main-content .other-channels .channels-list__item {
    margin-bottom: 27px;
  }
}

@media (min-width: 751px) and (max-width: 821px) {
  body .rights-contacts .contacts-tel-wrapper {
    margin-left: 30px;
  }
}

@media (min-width: 751px) and (max-width: 876px) {
  body .header .menu-wrapper {
    font-size: 1em;
  }
  body .header .menu-wrapper .login-menu__item--login {
    margin-right: 1vw;
  }
  body .header .menu-wrapper .section-menu__item {
    margin-right: 1vw;
  }
  body .header .menu-wrapper .section-menu__item--logo {
    margin-left: 1vw;
    margin-right: 0vw;
  }
}
